<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head><title>Logout</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/png" href="/Saucer32.png" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Log out of SFFDB.com." />
{% include 'analytics.inc' %}
</head>
<body>
<h1><a href="/">SFFDB.com</a></h1>
<p class="subhead">You have been logged out.</p>
<center>
<p><a href="/">Home</A> | <a href="/login/">Login</A></p>
</center>
{% include 'copyright.inc' %}
</body>
